html {
  font-size: calc(15px + 0.390625vw); 
  
}
body {
  font-family: "Cabin", sans-serif;
}
a {
  text-decoration: none;
  color: #0F172A;
}


header {
  text-align: center;
  padding: 2vw 8vw;
}
header nav ul li {
  margin: 20px;
}
header nav ul li .logo { 
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li .logo h1 { 
  font-size: 1.2rem;
} 
header nav ul li .login {
   color: #FBBC05;
}
header nav ul li .started {
  color: white;
  background-color: #FBBC05;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

header nav ul ul {
  display: none;  
}
header nav ul li:hover ul {
  display: block;
  position: absolute
}
section.banner {
  padding: 15vh 8vw;
}





@media (min-width: 1024px) {
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav ul {
    display: flex;
    align-items: center;
  }
  header nav ul li {
    margin: 0px 10px;
  }

  header nav ul li .logo img { 
    padding: 10px
  }
  h1 {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}